@use "./breakpoints.scss" as breakpoints;

.indicator {
  display: flex;
  justify-content: center;
  margin-top: var(--static-space-16);
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}
